{
    auto_https off
}

:80 {
    @backend path /api* /admin* /static* /media*
    @static path /static/*
    handle @static {
        root * /srv/static
        file_server
    }
    handle @backend {
        reverse_proxy django:8000
    }
    handle {
        reverse_proxy frontend:3000
    }
}
