

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <!-- Link external CSS styles here -->
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
	<h1>{{post.title}}</h1>
	<h3>{{post.author.first_name}} {{post.author.last_name}}</h3>
	<p>{{post.content}}</p>
   <!-- Main visible webpage content goes here -->

    <!-- Link external JavaScript files here -->
    <!-- <script src="script.js"></script> -->
</body>
</html>
